
body{
    box-sizing: border-box;
    margin: 0;
    background-color: #1c3042;
}

.title{
    margin: 0;
    background-image: url("espada_piedra.png");
    background-size: cover;
    background-position: center;
    height: 220px;
    margin-bottom: 20px;
}
h1{
    margin: auto;
    padding-top: 70px;
    color: #d4af37;
    text-align: center ;
    font-size: 3rem;
}
.container{
    display: grid;
    grid-template-columns: minmax(400px, 1fr) minmax(70px, 1fr);
    gap: 20px;
    margin: auto;
    padding: 10px;
    width: 70%;
    margin: auto;    
    border-radius: 10px;
    background-color: #2a3a4f;
}
.parag, picture{
    margin: 10px;
    padding: 10px;
    text-align: center;
    
}

p{
    text-align: justify;
    font-size: 1.5rem;
    color: #e6e6e6;
}




.picture{
    padding: 20PX;
    background-image: url("unnamed.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    
}
.picture::after {
    
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0);
    transition: background 0.3s;
}

.picture:hover::after {
    background: rgba(0,0,0,0.4);
}

.curiosities{
    display: grid;
    grid-template-columns: minmax(300px, 1fr);
     margin: auto;
    margin-top: 10px;
    padding: 10px;
    width: 70%;
    text-align: center;
    align-items: self-end;
    background-color: #2a3a4f;
}
li{
    color: #e6e6e6;
    font-size: 1.5rem;
    text-align: justify;
    list-style: none;
}